*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Hasklig';
  background-color: #282a36;
  color: #f8f8f2;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none; }

.red {
  color: #ff5555; }

.pink {
  color: #ff79c6; }

.purple {
  color: #bd93f9; }

.green {
  color: #50fa7b; }

.cyan {
  color: #8be9fd; }

.bold {
  font-weight: bold; }

.main {
  flex: 1 0 auto;
  padding: 2vh;
  max-width: 120ch;
  overflow-wrap: break-word; }

.arrow {
  padding-right: 0.5vh; }

@font-face {
  font-family: 'Hasklig';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../fonts/Hasklig-Regular.otf") format("opentype"); }

header {
  flex: 0 0 auto;
  background-color: #20212b; }

nav {
  display: flex;
  padding: 2vh; }
  nav .title {
    justify-content: flex-end; }
  nav .links {
    margin-left: auto; }

table {
  padding-top: 1vh; }
  table tr {
    padding-bottom: 1vh; }
  table td {
    padding-right: 2vh; }

footer {
  flex-shrink: 0;
  background-color: #20212b;
  padding: 2vh; }
