*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  display: flex;
  flex-direction: column;
  font-family: "Hasklig";
  font-size: 1.4em;
  line-height: 1.6;
  font-weight: 400;
  background-color: #20212b;
  color: #f8f8f2;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none; }

p {
  margin: 0;
  padding-bottom: 1vh; }

.red {
  color: #ff5555; }

.pink {
  color: #ff79c6; }

.purple {
  color: #bd93f9; }

.green {
  color: #50fa7b; }

.cyan {
  color: #8be9fd; }

.bold {
  font-weight: bold; }

.main {
  flex: 1 0 auto;
  padding: 2vh;
  max-width: 120ch;
  overflow-wrap: break-word; }

.arrow {
  padding-right: 1ch; }

@font-face {
  font-family: 'Hasklig';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../fonts/Hasklig-Regular.otf") format("opentype"); }

header {
  flex: 0 0 auto;
  background-color: #282a36; }

nav {
  display: flex;
  padding: 2vh; }
  nav .title {
    justify-content: flex-end; }
    nav .title p {
      padding-bottom: 0; }
  nav .links {
    margin-left: auto; }

table tr {
  padding-bottom: 1vh; }

table td {
  padding-right: 2vh; }

.highlight {
  padding-bottom: 1vh; }

pre {
  padding: 1vh;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
  width: 100%;
  font-size: 12px; }

.cmd {
  padding-bottom: 2vh; }

footer {
  flex-shrink: 0;
  background-color: #282a36;
  padding: 2vh; }
  footer p {
    padding-bottom: 0; }
